.EditExamples {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.examples2 {
  width: 70%;
}

.examplesContainer {
  max-width: 75%;
  margin: 10px;
}

.formContainer3 {
  margin: 10px;
  max-width: 30%;
  padding: 20px;
  position: relative;
}
