.editHeader {
  display: flex;
  align-items: stretch;
}

.formContainer1 {
  width: 90%;
  padding: 20px;
  padding-bottom: 60px;
  position: relative;
}

.saveButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
