.editor {
  display: flex;
  align-items: stretch;
  border-top: 1px solid rgba(0,0,0,0.06);
}

.formContainer2 {
  width: 100%;
  padding: 20px 20px 70px 20px;
  position: relative;
}

.saveButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
