.editor {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.points {
  margin: 10px;
  width: 50%;
  padding: 20px;
}

.formContainer2 {
  margin: 10px;
  width: 50%;
  padding: 20px 20px 70px 20px;
  position: relative;
}

.saveButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
