.emailForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.editEmails h2 {
  text-align: left;
  margin-bottom: 20%;
}

.editEmails {
  display: flex;
  justify-content: space-around;
}

.uploadedContract {
  margin-left: 10%;
}

.checkedContract {
  margin-left: 20%;
}

.saveE {
  
}
