.editEmails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  position: relative;
  flex-wrap: wrap;
}

.editEmails h2 {
  text-align: left;
  margin-bottom: 20%;
}

.uploadedContract {
  margin-left: 10%;
}

.checkedContract {
  margin-left: 20%;
}

.mailForm {
  display: flex;
}
