.EditExamples {
  display: flex;
  justify-content: center;
  align-items: stretch;
  border: 1px solid rgba(0,0,0,0.06);
}

.formContainer4 {

  max-width: 100%;
  padding: 20px 20px 70px 20px;
  position: relative;
}
