.exampleContainer {
  margin-bottom: 100px;
}

.exampleImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exampleImage1 {
  max-width: 35%;
  margin: 20px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.6);
}
.exampleImage2 {
  max-width: 35%;
  margin: 20px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.6);
}

.example {
  color: #B72327;
  text-align: center;
}

.contentContainer {
  display: flex;
  justify-content: center;
}
