.headerContainer {
  min-height: 75vh;
  padding-top: 175px;
  padding-left: 100px;
  background-image: linear-gradient(-200deg, #B72327 80%, #ffffff 60%);
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.6);
}

.headerText {
  max-width: 50%;
  font-family: 'Space Mono', monospace;
}

.headerText h2 {
  color: rgba(0,0,0,0.75);
}
