.headerContainer {
  min-height: 90vh;
  background-size: cover;
  background-position: bottom;
  padding-top: 5rem;
  padding-left: 100px;
}

.overlay {
  min-height: 90vh;
}

.headerText {
  max-width: 65%;
  font-size: 1.5em;
}
