.pointSection {
  background: rgba(222, 222, 222, 0.2);
  /*background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);*/
  padding-top: 30px;
  padding-bottom: 30px;
}

.pointsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.pointsDescriber {
  text-align: center;
}

.intro {
  margin: 0px;
  padding: 20px;
  color: #B72327;
}
