.pointSection {
  background: rgba(222, 222, 222, 0.2);
  padding-top: 30px;
}

.pointsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.pointsDescriber {
  text-align: center;
}

.pointsDescriber h1 {
  margin: 0px;
  padding: 20px;
  color: #757575;
}
