.profileContent {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.profileForm {
  width: 25%;
}

.input {
  min-width: 80%;
}

.contractContainer {
  width: 60%;
}
