.profileContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.profileForm {
  width: 25%;
}

.input {
  min-width: 80%;
}

.contractContainer {
  width: 60%;
  margin-top: 50px;
  margin-left: 20px;
  align-self: center;
}

.profilePage {
  display: flex;
}

.userUpload {
  align-self: center;
  margin-right: 20px;
  border-left: 1px solid black;
  padding-left: 20px;
}
